.w3-theme-l5 {color:#fff !important; background-color:#030909 !important}
.w3-theme-l4 {color:#fff !important; background-color:#0d2524 !important}
.w3-theme-l3 {color:#fff !important; background-color:#174140 !important}
.w3-theme-l2 {color:#fff !important; background-color:#225d5c !important}
.w3-theme-l1 {color:#fff !important; background-color:#2c7977 !important}
.w3-theme-d1 {color:#fff !important; background-color:#c15659 !important}
.w3-theme-d2 {color:#fff !important; background-color:#c8696b !important}
.w3-theme-d3 {color:#fff !important; background-color:#cf7c7e !important}
.w3-theme-d4 {color:#fff !important; background-color:#d68e90 !important}
.w3-theme-d5 {color:#000 !important; background-color:#dca1a3 !important}

.w3-theme-light {color:#fff !important; background-color:#030909 !important}
.w3-theme-dark {color:#000 !important; background-color:#dca1a3 !important}
.w3-theme-action {color:#000 !important; background-color:#dca1a3 !important}

.w3-theme {color:#fff !important; background-color:#bb4446 !important}
.w3-text-theme {color:#bb4446 !important}
.w3-border-theme {border-color:#bb4446 !important}

.w3-hover-theme:hover {color:#fff !important; background-color:#bb4446 !important}
.w3-hover-text-theme:hover {color:#bb4446 !important}
.w3-hover-border-theme:hover {border-color:#bb4446 !important}

.w3-code {
  border-left:4px solid #bb4446;
}
.w3-code {
  color:#fff;
  background-color:#0d2524;
}
.w3-codespan {
  color:#fff;
  background-color:#174140;
}

a{color: inherit !important;}

.w3-striped tbody tr:nth-child(even){
    background-color:#0d2524
}

.w3-bordered tr{
    border-bottom:1px solid #fff
}

.w3-table tbody tr:hover,table li:hover{
  background-color:#174140
}

.search-results article:hover {
  background-color:#174140
}

pre code.hljs{display:block;overflow-x:auto;padding:1em}code.hljs{padding:3px 5px}/*!
  Theme: StackOverflow Dark
  Description: Dark theme as used on stackoverflow.com
  Author: stackoverflow.com
  Maintainer: @Hirse
  Website: https://github.com/StackExchange/Stacks
  License: MIT
  Updated: 2021-05-15

  Updated for @stackoverflow/stacks v0.64.0
  Code Blocks: /blob/v0.64.0/lib/css/components/_stacks-code-blocks.less
  Colors: /blob/v0.64.0/lib/css/exports/_stacks-constants-colors.less
*/.hljs{color:#fff}.hljs-subst{color:#fff}.hljs-comment{color:#999}.hljs-attr,.hljs-doctag,.hljs-keyword,.hljs-meta .hljs-keyword,.hljs-section,.hljs-selector-tag{color:#88aece}.hljs-attribute{color:#c59bc1}.hljs-name,.hljs-number,.hljs-quote,.hljs-selector-id,.hljs-template-tag,.hljs-type{color:#f08d49}.hljs-selector-class{color:#88aece}.hljs-link,.hljs-regexp,.hljs-selector-attr,.hljs-string,.hljs-symbol,.hljs-template-variable,.hljs-variable{color:#b5bd68}.hljs-meta,.hljs-selector-pseudo{color:#88aece}.hljs-built_in,.hljs-literal,.hljs-title{color:#f08d49}.hljs-bullet,.hljs-code{color:#ccc}.hljs-meta .hljs-string{color:#b5bd68}.hljs-deletion{color:#de7176}.hljs-addition{color:#76c490}.hljs-emphasis{font-style:italic}.hljs-strong{font-weight:700}