.w3-theme-l5 {color:#000 !important; background-color:#f5fbf6 !important}
.w3-theme-l4 {color:#000 !important; background-color:#d9f1db !important}
.w3-theme-l3 {color:#000 !important; background-color:#bde7c1 !important}
.w3-theme-l2 {color:#000 !important; background-color:#a1dca7 !important}
.w3-theme-l1 {color:#000 !important; background-color:#85d28c !important}
.w3-theme-d1 {color:#000 !important; background-color:#3da847 !important}
.w3-theme-d2 {color:#000 !important; background-color:#36953f !important}
.w3-theme-d3 {color:#000 !important; background-color:#2f8237 !important}
.w3-theme-d4 {color:#000 !important; background-color:#28702f !important}
.w3-theme-d5 {color:#fff !important; background-color:#225d27 !important}

.w3-theme-light {color:#000 !important; background-color:#f5fbf6 !important}
.w3-theme-dark {color:#fff !important; background-color:#225d27 !important}
.w3-theme-action {color:#fff !important; background-color:#225d27 !important}

.w3-theme {color:#000 !important; background-color:#44bb4f !important}
.w3-text-theme {color:#44bb4f !important}
.w3-border-theme {border-color:#44bb4f !important}

.w3-hover-theme:hover {color:#000 !important; background-color:#44bb4f !important}
.w3-hover-text-theme:hover {color:#44bb4f !important}
.w3-hover-border-theme:hover {border-color:#44bb4f !important}

.w3-code {
  border-left:4px solid #44bb4f;
}
.w3-code {
  color:#000;
  background-color:#d9f1db;
}
.w3-codespan {
  color:#000;
  background-color:#bde7c1;
}

a{color: inherit !important;}

.w3-striped tbody tr:nth-child(even){
    background-color:#d9f1db
}

.w3-bordered tr{
    border-bottom:1px solid #000
}

.w3-table tbody tr:hover,table li:hover{
  background-color:#bde7c1
}

.search-results article:hover {
  background-color:#bde7c1
}

pre code.hljs{display:block;overflow-x:auto;padding:1em}code.hljs{padding:3px 5px}/*!
  Theme: StackOverflow Light
  Description: Light theme as used on stackoverflow.com
  Author: stackoverflow.com
  Maintainer: @Hirse
  Website: https://github.com/StackExchange/Stacks
  License: MIT
  Updated: 2021-05-15

  Updated for @stackoverflow/stacks v0.64.0
  Code Blocks: /blob/v0.64.0/lib/css/components/_stacks-code-blocks.less
  Colors: /blob/v0.64.0/lib/css/exports/_stacks-constants-colors.less
*/.hljs{color:#2f3337}.hljs-subst{color:#2f3337}.hljs-comment{color:#656e77}.hljs-attr,.hljs-doctag,.hljs-keyword,.hljs-meta .hljs-keyword,.hljs-section,.hljs-selector-tag{color:#015692}.hljs-attribute{color:#803378}.hljs-name,.hljs-number,.hljs-quote,.hljs-selector-id,.hljs-template-tag,.hljs-type{color:#b75501}.hljs-selector-class{color:#015692}.hljs-link,.hljs-regexp,.hljs-selector-attr,.hljs-string,.hljs-symbol,.hljs-template-variable,.hljs-variable{color:#54790d}.hljs-meta,.hljs-selector-pseudo{color:#015692}.hljs-built_in,.hljs-literal,.hljs-title{color:#b75501}.hljs-bullet,.hljs-code{color:#535a60}.hljs-meta .hljs-string{color:#54790d}.hljs-deletion{color:#c02d2e}.hljs-addition{color:#2f6f44}.hljs-emphasis{font-style:italic}.hljs-strong{font-weight:700}