#    Byte-compiled / optimized / DLL files
**/__pycache__/
**/.ipynb_checkpoints/
*.py[cod]
*.pyc
*.pyo
*.so

# Mkdocs
build/
site/

# pip package
dist/
*.egg-info/

# Vscode
.vscode/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Pipenv
Pipfile
Pipfile.lock

# Data not intended for deployment
**.m
**.pt
**/logs
# **notebooks**

# Test & Backups
*test*.py
**test**