dist/
build/
mkdocs_encryptcontent_plugin.egg-info/
install.cmd
*.bak
documentation/site/
deploy.cmd
documentation/encryptcontent.key
documentation/canary.py
documentation/theme_override/assets/
